<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>
</div>
<h2>API Paises: </h2>

<table *ngIf="paises">
  <thead>
  <tr>
    <th scope="col">Código</th>
    <th scope="col">Nombre</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of paises">
    <td>
      <label>{{p.codigo}}</label>
    </td>
    <td>
      <label>{{p.descripcion}}</label>
    </td>
  </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
